<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bulk HEX → HSL Converter
    link(rel="stylesheet" href="normalize.css")
    link(rel="stylesheet" href="style.css")
    link(href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet")
  body
    header
      .inner
        h1 Bulk convert #hex into hsl()
    main
      .inner
        textarea#hex(rows="12" placeholder="should be a list of comma separated hex colors")
        .buttons
          button#convert(type="button") 🧙‍♂️ Convert!
          button#reset(type="button") 💣 Reset
        textarea#result(rows="12" readonly)
    aside
      .inner
        h2 How it works
        p Paste a list of hex color values, comma separated.  Clic 'Convert!'.
        p Done. 🚀 Take your list of hsl colors and leave.
        br
        p Don't paste in special characters, hieroglyphics, plans for building a rocket, or a greasy piece of your lunch.
        p 
          strong Just hex colors
          |. 
          strong Comma separated
          |.
        p It accepts lower case and upper case, and you can even leave a space after the comma. Or three.
        p It also accepts a single line list as well as values in multiple lines. You can omit the # if you'd like.
        p This would work:
        pre #FADB5F, #F0B429, #CB6E17, #B44D12, #8D2B0B,
        p This would work too:
        pre
          | #fffbea,
          | #fff3c4,
          | #fce588,
          | #fadb5f,
          | #f7c948
        p This too:
        pre #FfF, #F34, CE8,#Fb5, #429, #dE1,#C6E, 44D,   #82B,
        p Even this would work:
        pre
          | fF7bEa,#fFD3c4, fCe588,     b5f, #7c8
          | ,DEe91d, aBcDeF,158, #dE3,
        br
        p Please don't break it.
        h2 On the roadmap
        p
          ul
            li Convert RGB too, both with % and without.
            li Accept alpha channels: hexa (#a2e4c5
              strong dd
              | ) and RGBA → hsla.
    
    script(src="scripts.js")
